# ¡YA NO USAMOS 'version: 3.8'!

services:
  # --- Servicio del Backend (Strapi) ---
  strapi:
    # ESTO CAMBIÓ:
    # En lugar de "image:", le decimos "construye:"
    # "build: ." significa "construye usando el Dockerfile de esta carpeta"
    build: . 
    container_name: strapi_restaurante
    restart: unless-stopped
    environment:
      # --- Configuración de la Base de Datos ---
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db_restaurante     # El nombre del servicio de la DB
      DATABASE_PORT: 5432
      DATABASE_NAME: strapi
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi          # ¡Simple para local!

      # --- Claves de Seguridad (¡Cámbialas!) ---
      JWT_SECRET: 'un-secreto-jwt-muy-seguro-para-local-1234'
      ADMIN_JWT_SECRET: 'un-secreto-admin-muy-seguro-para-local-5678'

    volumes:
      # ¡Esto también cambió! Mapeamos la carpeta actual.
      - ./app:/opt/app
    ports:
      - "1337:1337"
    depends_on:
      - db_restaurante

  # --- Servicio de la Base de Datos (PostgreSQL) ---
  db_restaurante:
    image: postgres:15-alpine
    container_name: db_restaurante
    restart: unless-stopped
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi
    volumes:
      - strapi_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  strapi_data:
    driver: local